* {
  margin: 0;
  padding: 0;
  font-family: serif;
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}
h2 {
  font-family: sans-serif;
}
.card-1 {
  padding: 15px 35px 15px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2),
    0px -5px 15px 5px rgba(0, 0, 0, 0.2);
}

.card-2 {
  background-color: #202842;
  color: white;
  padding: 15px 35px 15px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.01),
    0px -5px 15px 5px rgba(0, 0, 0, 0.05);
}

.card-3 {
  padding: 15px 35px 15px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2),
    0px -5px 15px 5px rgba(0, 0, 0, 0.2);
}

span {
  font-size: 12px;
}
h1 {
  padding: 10px 0 10px 0;
  font-weight: 100;
}
li {
  line-height: 1.7;
}

.benefits {
  display: flex;

  align-items: center;

  gap: 5px;
}
.subscribe {
  margin: 25px 0 10px 0;
  border-radius: 20px;
  padding: 8px 0 8px 0;
  border: none;
  font-size: 13px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.black {
  background-color: #202842;
  color: white;
}

.white {
  background-color: white;
  color: #202842;
}
